/* Your app custom styles here */

/********************************COLORES******************************************/
.fondo-degrade{
	background: rgb(155,196,226);
	background: linear-gradient(180deg, rgba(155,196,226,1) 0%, rgba(42,82,190,1) 100%);
}

.celeste{
	background-color: rgb(155,196,226);
}

.celeste2{
	background-color: rgb(120,184,230)
}

.azul{
	background-color: rgb(42,82,190);
}

.cerulean{
	background-color: rgb(29,172,214);
}

.rojo{
	background-color: rgb(254,47,99);
}

.rojo-degrade{
	background: rgb(255,80,94);
	background: linear-gradient(180deg, rgba(255,80,94,1) 0%, rgba(254,47,99,1) 100%);
}

.verde{
	background-color: rgb(0,102,51);
}

.blanco{
	color: #fff;
}

.transparente{
	background-color: auto;
}

.solido{
	color: #000;
}



/********************************COLORES******************************************/

.centrado{
	text-align: center;
	justify-content: center;
	border-radius: 0px;
}

.ayuda{
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
}

.inicio{
	width: 100vw;
}

.clean{
	padding-left: 0px;
	margin: auto 0px;
}

#mapContainer{	
width:100vw;
  background:#fff;
	height: 70vh;
}





.person{
	width: 2.5em;
	margin: .5em;
	margin-right: 1em;
}

h1{
font-family: 'Quicksand:400', sans-serif;
font-size: 4.8em;
color: #2A52BE;
line-height: 1em;
font-weight: normal;
}

.logo-main{
	padding-top: 3.5em;
	width: 15em;
	max-height: 60vh;
}

.sobreTitulo{
	margin-top: .8em;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.logButtons{
	margin-bottom: 1em;
	padding-left: 0px;
	padding-right: 0px;
}

.banda{
position: relative;
width: 100vw;
color: #fff;
padding: 1em;
margin-top: 1.5em;
overflow: visible!important;
}

.sinBanda{
	margin-top: 0px;
}


.logoEncabezado{
	width: 4em;
	z-index: 999;
	position: absolute;
	right: .8em;
}

.logoChico{
	width: 3.8em;
	padding-top: 1em;
}


.derecha{
float: right;
margin-left: 2em;
margin-right: 2em;
width: 80vw;
font-size: 1.2em;
}

#recordarme{
text-align: right;
padding-right: 2em;
font-size: 1em;
margin-top: 0px;
}

.pie{
margin-top: 2px;
margin-left: 45%;
color: #fff;
margin-top: 8em;
}

hr{
	border:1px solid #777;
}

.abrirAvatares{
width: 10em;
margin:0px 30vw;
background-color: rgb(155,196,226);
}

.fondoBlanco{
	background-color: #fff;
}

.avatarSeleccionado{
	width: 5em;
	padding: 1em 2.5em;
padding-bottom: 0.5px;
}

.elegido{
	width: 10em;
	padding-left: 0px;
	margin-bottom: 0em;
}

.oculto{
	display: none;
}

.bordeAv{
	border: 3px solid  rgb(42,82,190);
	padding: auto 2em;
	height: 11em;
}

.av{
	width: 5.2em;
}

.subtitulo{
background-color: rgba(255,255,255,0.5);
text-align: center;
padding: 1em 0;
margin: 0px;
color: #000;
}

#acepto{
text-align: center;
}

.agregarUbicacion{
padding: 0px;
margin: 0px;
	font-weight: bold;
	background-color: rgb(254,47,99);
	padding: 0.8em 0px;
	text-align: center;
}

.botonUbicacion{
display: inline;
}

#menu-button{
	width: 1.4em;
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 0.5em;
}


.swipeout-actions-right a{
	background: rgba(222,222,222,1);
}

.puntero{
	width: 1.2em;
	display: inline;
	padding: 0px 0.8em;
	padding-top: 0.7em;
}

.punteroChat{
width: 0.8em;
display: inline;
	padding: 0px 0.2em;
}

.config{
	width: 1.8em;
}


.imagenUbicacion{
	height: 3.5em;
	display: inline;
	margin-top: 1em;
	float: right;
	margin-right: 3em;

}

.gral .imagenUbicacion{
	margin-top: 2em;
}


.tituloUbicacion,.nombreUbicacion{
	margin: 0px;
}
.nombreUbicacion{
	display: inline-block;
	color: #FE2F63;
	white-space: nowrap;
	font-size: 1.3em; 
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 0.5em;
	width: 70vw;
}

.ubicacionChat{
	display: block;
	color: #FE2F63;
	font-size: 0.8em;
}


.tituloUbicacion{
	padding-left: 1em;
	font-size: 1.8em;
	text-transform: uppercase;
}
.tituloUbicacion.solo{
padding-top: 1em;
vertical-align: middle;
}

.chatsNuevos{
	display: block;
	font-size: 1em;
	color: #FE2F63;
	margin: 0px;
	padding-left: 1em;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list .item-content{
	padding: 0px;

}

.list{
margin: 0px;
font-size: inherit;
width: 100%;
}



.accordion-list{
	width: 100%;
}

.al100{
	width: 100%;
}

.menuAvatar{
	border: 3px solid rgb(254,47,99);
	border-radius: 100%;
	background-color: #fff;
}

.nombreMenu{
	color: #fff;
	font-weight: bold;
	padding-left: 0.5em;
	font-size: 1.5em;
	margin: 0px;
}


.nickUsuario,.nombreUsuario,.telUsuario{
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
	
}

.list input[type="text"].nickUsuario, .nombreUsuario, .telUsuario{
	 background-image: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1.0) , rgba(255,255,255,0));
}

.list input[type="tel"].nickUsuario, .nombreUsuario, .telUsuario{
	 background-image: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1.0) , rgba(255,255,255,0));
}


.menuLateral{
	margin: 0px;
}

.panel-left{
	background-color: #bbb;
}

.menuPerfil{
margin: 0px;
padding: 1em;
}

.miPerfil{
color: #9BC4E2;
font-weight: bold;
padding-left: 1em;
}

.opcionMenu{
background-color: #ccc;
padding: 0.6em;
color: #000;
font-weight: bold;
font-size: 1.2em;
}


.icono{
	height: 1.7em;
	float: right;
	margin-right: 1em;
}

.ico-grupo{
	margin-right: 0.5em;
}

.b{
background-color: #bbb;
}

.sinCambio{
	color: inherit;	
}

.cajaTexto{
	background-color: #fff;
	color: #000;
	border-radius: 2em;
}
.iconoChat{
	height: 2em;
	margin: 0.2em;
}

.message-sent .message-bubble{
background-color: #9BC4E2;
color: #333;
}

.message-received .message-bubble{
background-color: #FE2F63;
color: #fff;
}

.md .message-received.message-tail .message-bubble:before{
    border-bottom: 8px solid #FE2F63;
}

.md .message-sent.message-tail .message-bubble:before{
    border-bottom: 8px solid #9BC4E2;
}

.message-avatar{
	height: 3em;
	width: 3em;
}

.avatar-enviado{
background-image:url('/img/min/1.png');
	border: 3px solid #9BC4E2;
}

.avatar-recibido{
background-image:url('/img/min/12.png');
	border: 3px solid #FE2F63;
}

.message-name{
font-size: 1em;
font-weight: bold;
color:#000;
text-align: left;
}

.chatList{
padding: 0px;
}

.transparente{
	background-color: rgba(255,255,255, 0.0);
}

.toolbar a{
	color: #2A52BE;
}

.toolbar a.interno{
	color: #FFF;
}

.messages{
	min-height: 90vh;
}

.ayudaCentrado{
	padding-left: 45vw;
}
.logoUbicacion{
	top: .2em;
	right: .2em;
}
.md .navbar-inner{
	overflow: visible;
}

.cajaUbicacion{
margin-top: -3.8em;
}

.botonListo{

	margin-top: 1em;
}

.list .item-inner{
	padding-right: 0px;	
}
.radioAlerta{
margin: -3.8em 1em 0em 1em;
padding-bottom: 2.5em; 
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatarPerfil{
	width: 6.5em;
	justify-content: center;
	padding: 0px;
	margin-top: 4em;
}

.ubicacionPersonalizada{
	padding: 1em;
	border-right: 0.3em solid #1DACD6;
	margin-bottom: 0.3em;
	border-top: 0.15em solid #1DACD6;
}

.nuevoChatPersonalizado{
color: #FE2F63;
font-weight: bold;
float: right;
font-size: 1em;
margin: 0px;
}


.nombrePersonalizada{
	padding-left: 1em;
	font-size: 1.2em;
	font-weight: bold;
	display: inline;
}

#geocodificamelo{
padding: 1em;
margin-top: 0.5em;
background-color: #FE2F63;
color: #fff;
font-weight: bold;

}
.defaultUbicaciones{
font-weight: bold;
text-align: center;
color: #FE2F63;
margin: 0px;
padding: 0.2em;
background-color: rgba(254,47,99,0.2);
}

/**********************Si encuentro la forma uso estas fuentes***************************/
@font-face {
font-family: "Cocomat Light";
src: url("/fonts/cocomat/Cocomat-Light.ttf");
}

@font-face {
font-family: "Cocomat Ultralight";
src: url("/fonts/cocomat/Cocomat-Ultralight.ttf");
}
/**************************************************************************************/